<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WithStartup2</title>
    <link rel="stylesheet" href=" assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href=" assets/css/Footer-Dark.css">
    <link rel="stylesheet" href=" assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href=" assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href=" assets/css/styles.css">
</head>

<body class="container-fluid" style="padding: 0px;">
    <nav class="navbar navbar-light navbar-expand-md fixed-top fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="/"><img src="assets/img/logo.png" style="width: 220px;"></a></div>
    </nav>
    <section id="section0" class="cotainer-fluid">
        <div id="mainImg" style="background-image:url('assets/img/FormImg6.png'); height:480px; width:auto">
            <div style="margin:70px 10px;padding: 70px 20px">
                <p style=" color:#F5CD4D; font-size:23px; text-decoration: underline"> WITH START-UP</p>
                <strong>
                    <p style=" color:#FFFFFF; font-size:37px; margin:-5px 0px"> 예비 창업자를 위한</p>
                    <p style=" color:#FFFFFF; font-size:37px; "> 청년 창업 지원 자금</p>
                </strong>
                <p style=" color:#FFFFFF; font-size:18px; margin:-2px 0px"> 풍부한 정부 지원자금 예산,</p>
                <p style=" color:#FFFFFF; font-size:18px; margin:-2px 0px"> 몰라서 못받는 현실 속에</p>
                <p style=" color:#FFFFFF; font-size:18px;"> 위드 스타트업과 함께 도전하세요.</p>
            </div>
        </div>
        <div id="mainImg2" style="background-image:url('assets/img/FormImg1.png'); height:480px; width:auto">
            <div style="margin:70px 10px;padding: 70px 20px">
                <p style=" color:#F5CD4D; font-size:23px; text-decoration: underline"> WITH START-UP</p>
                <strong>
                    <p style=" color:#FFFFFF; font-size:37px; margin:-5px 0px"> 예비 창업자를 위한</p>
                    <p style=" color:#FFFFFF; font-size:37px; "> 청년 창업 지원 자금</p>
                </strong>
                <p style=" color:#FFFFFF; font-size:18px; margin:-2px 0px"> 풍부한 정부 지원자금 예산,</p>
                <p style=" color:#FFFFFF; font-size:18px; margin:-2px 0px"> 몰라서 못받는 현실 속에</p>
                <p style=" color:#FFFFFF; font-size:18px;"> 위드 스타트업과 함께 도전하세요.</p>
            </div>
        </div>
    </section>
    <section id="section1" class="container-fluid" style="padding: 30px 20px;">
        <div class="row justify-content-center">
            <form id="formSubmit" class="col-sm-10 col-lg-10">
                <div class="form-group" style="margin: 50px 0px 20px 0px;"><label for="InputName">성함이 무엇인가요?</label><input class="form-control" type="text" id="InputName" placeholder="이름"></div>
                <div class="form-group" style="margin: 30px 0px 0px 0px;"><label for="InputAge">나이가 어떻게 되시나요?</label><input class="form-control" type="text" id="InputAge" placeholder="나이"></div>
                <div class="form-group" style="margin: 30px 0px 0px 0px;"><label for="InputSchool">최종 학교, 전공이 어떻게 되시나요?</label><input class="form-control" type="text" id="InputSchool" placeholder="학교 및 전공"></div>
                <div class="form-group" style="margin: 30px 0px 0px 0px;"><label for="InputCarrier">관련된 경력이 있으시나요?</label><input class="form-control" type="text" id="InputCarrier" placeholder="경력 또는 경험"></div>
                <div class="form-group" style="margin: 30px 0px 30px 0px;"><label for="InputPhone">연락처를 알려 주세요</label><input class="form-control" type="text" id="InputPhone" placeholder="휴대폰 번호"></div>
                <button class="btn btn-warning d-block" id="submitButton" type="submit" style="margin: 20px auto;width: 100px;">제출하기</button></form>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src=" assets/js/util.js"></script>
</body>

</html>