<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no maximum-scale=1.0 user-scalable=no"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="container-fluid" style="padding: 0px;">
    <nav class="navbar navbar-light navbar-expand-md fixed-top fixed-top" id="mainNav">
        <div class="container"><a  class="navbar-brand" href="#"><img src=" assets/img/logo.png" style="width: 220px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarResponse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">ABOUT</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#section2">PROCESS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#section3">BOUNDARY</a></li>
                </ul><a class="btn btn-outline-warning active action-button" href="form" role="button">문의하기</a></div>
        </div>
    </nav>
    <section id="section0" class="cotainer-fluid">
        <div id="mainImg" style="background-image:url('assets/img/MainImg2.png'); height: 531px; width: auto;">
            <div style="margin:100px 50px ;padding: 100px 0px">
                <p style=" color:#F5CD4D; font-size:23px; text-decoration: underline"> WITH START-UP</p>
                <strong>
                    <p style=" color:#FFFFFF; font-size:37px; "> 위드 스타트업과 함께 1억원 지원금 확보</p>
                </strong>
                <p style=" color:#FFFFFF; font-size:18px;"> 만 20세 ~ 39세 누구나 신청가능합니다.</p>
                <p style=" color:#FFFFFF; font-size:18px;"> 정부 지원금으로 창업하세요</p>
            </div>
        </div>
    </section>
    <!-- <section id="section1" class="container-fluid" style="padding: 50px 20px;">
        <div class="row justify-content-center">
            <form class="col-10 col-lg-8">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col"><label>어느 지역에서 진행하길 원하시나요?</label><select class="form-control"><optgroup label="전체"><option value="0" selected="">전체</option><option value="1">서울특별시</option><option value="2">인천광역시</option><option value="3">대전광역시</option></optgroup></select></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row justify-content-center">
            <form class="col-10 col-lg-8">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col"><label class="col-form-label">어느 지역에서 진행하길 원하시나요?</label></div>
                    </div>
                    <div class="form-row justify-content-between">
                        <div class="btn-group" role="group"><button class="btn btn-warning border-white" type="radio-button" style="margin: 5px 0px;width: auto;" data-toggle="toggle">고등학교 졸업</button><button class="btn btn-warning border-white" type="radio-button" style="margin: 5px 0px;width: 115px;"
                                data-toggle="toggle">전문 학사</button><button class="btn btn-warning border-white" type="button" style="margin: 5px -5px;width: 115px;" data-toggle="toggle">학사 이상</button></div><button class="btn btn-primary" id="mainStartButton"
                            type="button" style="height: 38px;">시작하기</button></div>
                </div>
            </form>
        </div>
    </section> -->
    <section id="section2" class="container-fluid" style="margin: 0px 0px;padding: 0px 40px;">
        <div class="row container-fluid justify-content-center">
            <h1 class="row" style="margin: 100px 0px 70px;">청년 창업을 위해 필요한 모든 정보를 제공합니다</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-auto"><img src=" assets/img/office1.png" style="width: 100%;">
                <div>
                    <h5>청년 창업 정책 지원자금 수령을 <br>위한 창업 컨설팅</h5>
                </div>
                <p>&nbsp; - 아이디어를 창업 아이템으로 전환<br>&nbsp; - 신청 요건에 맞는 사업계획서 작성 지도<br>&nbsp; - 프리미엄 특허 발굴 컨설팅<br></p>
                <hr style="color: rgb(23,24,25);">
            </div>
            <div class="col-md-4 col-auto"><img src=" assets/img/office2.png" style="width: 100%;">
                <div>
                    <h5>정부 정책 지원 자금에 필요한 <br>모든 정보 및 서비스</h5>
                </div>
                <p>&nbsp; - 모든 문제에 대응하는 커뮤니티 매니저<br>&nbsp; - 철저한 내부 프로세스로 창업 성공 지도<br>&nbsp; - 신청부터 창업까지 한번에 All in One<br></p>
                <hr style="color: rgb(23,24,25);">
            </div>
            <div class="col-md-4 col-auto"><img src=" assets/img/office3_1920.png" style="width: 100%;">
                <div>
                    <h5>청년 창업만을 위해 특별하게 준비된 <br>맞춤형 정보 제공 서비스</h5>
                </div>
                <p>&nbsp; - 실무 협약서 진행 내용 컨설팅<br>&nbsp; - Cash Flow 작성 후 검토<br>&nbsp; - 기업부설연구소, 벤처 인증 등 각종 기업 인증<br></p>
                <hr style="color: rgb(23,24,25);">
            </div>
        </div>
    </section>
    <section id="section3" class="container-fluid">
        <div class="row container-fluid justify-content-center">
            <h1 class="text-center row" style="margin: 100px 0px 70px; font-size: 45px">창업을 꿈꾸는 청년들이 위드 스타트업을 선택하는 이유</h1>
        </div>
        <div class="row justify-content-center">
            <div style="margin: 17px" class="proc-card col-5 col-md-4 col-lg-2"><img class="d-block d-sm-flex" id="image1" src=" assets/img/startup-594091_1920.png" style="width: 135px;margin: 0px auto;">
                <div>
                    <h5 class="text-center">컨설팅 신청</h5>
                    <p class="text-center text-black-50">간략한 계획서 및 <br>상담 진행 현황 진단<br><br></p>
                    <p class="text-center">소요기간 <br>상담 신청 후 일주일 이내</p>
                </div>
            </div>
            <div style="margin: 17px" class="proc-card col-5 col-md-4 col-lg-2"><img class="d-block d-sm-flex" id="image1" src=" assets/img/analyzing2_1920.png" style="width: 135px;margin: 0px auto;">
                <div>
                    <h5 class="text-center">담당장 배정</h5>
                    <p class="text-center text-black-50">담당 컨설턴트 배정<br>기초자료 수집<br><br></p>
                    <p class="text-center">소요기간 <br>상담 신청 후 일주일 이내</p>
                </div>
            </div>
            <div style="margin: 17px" class="proc-card col-5 col-md-4 col-lg-2"><img class="d-block d-sm-flex" id="image1" src=" assets/img/achievement3_1920.png" style="width: 135px;margin: 0px auto;">
                <div>
                    <h5 class="text-center">사업 분석</h5>
                    <p class="text-center text-black-50">사업성 검토 <br>Cash Flow 작성 <br>맞춤형 전략 구성</p>
                    <p class="text-center">소요기간 <br>상담 신청 후 2주 째</p>
                </div>
            </div>
            <div style="margin: 17px" class="proc-card col-5 col-md-4 col-lg-2"><img class="d-block d-sm-flex" id="image1" src=" assets/img/capital4.png" style="width: 135px;margin: 0px auto;">
                <div>
                    <h5 class="text-center">정책 자금 신청</h5>
                    <p class="text-center text-black-50">기관 선정 및 진행 <br>자금 수령 및 창업<br><br></p>
                    <p class="text-center">소요기간 <br>상담 신청 후 3~4주 째</p>
                </div>
            </div>
            <div style="margin: 17px" class="proc-card col-5 col-md-4 col-lg-2"><img class="d-block d-sm-flex" id="image1" src=" assets/img/business-man5_1920.png" style="width: 135px;margin: 0px auto;">
                <div>
                    <h5 class="text-center">기업 인증 시작</h5>
                    <p class="text-center text-black-50">창업 후 맞춤형 <br>기업 인증 진행 개발 기술 컨설팅 시작</p>
                    <p class="text-center">소요기간 <br>상담 신청 후 4주후</p>
                </div>
            </div>
        </div>
    </section>
    <section id="section4" class="container-fluid" style="margin: 0px 0px;padding: 0px 40px;">
        <div>
            <h1 class="text-center" style="margin: 100px -10px 70px -10px; font-size: 38px">정책 자금 신청 무료 상담</h1>
            <div>
                <p class="text-center">정부 정책 자금 신청은 빠를수록 좋습니다.<br>방문, 상담부터 진행해 보세요</p><a href="form"><button class="btn btn-warning border rounded d-block" type="button" style="width: 300px;margin: 0px auto;">상담 예약하기</button></a>
                <p class="text-center text-black-50" style="font-size: 11px;margin: 5px;">"상담에 제공된 정보는 절대 유출되지 않습니다."</p>
            </div>
        </div>
    </section>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>위드 스타트업</h3>
                        <ul>
                            <li><a href="www.platcube.com">회사소개</a></li>
                            <li><a href="www.platcube.com">채용</a></li>
                            <li><a href="www.platcube.com">파트너스</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item" style="padding: 0px 10px;">
                        <h3>주소</h3>
                        <ul>
                            <li><a href="#">경기도 수원시 영통구 이의동</a></li>
                            <li><a href="#">에이스 광교 타워 3차</a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>문의</h3>
                        <p>방문상담 031-0000-0000<br>문의 info@platcube.com<br>마케팅/PR제휴 info@platcube.com<br>사업 제휴 info@platcube.com</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">&nbsp;© 2019 WITH-START-UP All rights reserved.</p>
            </div>
        </footer>
    </div>
    <script src=" assets/js/jquery.min.js"></script>
    <script src=" assets/bootstrap/js/bootstrap.min.js"></script>
    <script src=" assets/js/util.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src=" javascripts/form.js"></script>
</body>

</html>