#navItems {
  align-items: right;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: right;
}

#mainStart {
}

#mainStartButton {
  background-color: #303133;
  border: 0px;
  align-self: center;
}


#section1 {
  background-color: #F5F5F5;
}

@media screen and (max-width: 890px) {
  #mainImg {
    display: none;
  }
  #mainImg2 {
    display: block;
  }
}
@media screen and (min-width: 889px) {
  #mainImg {
    display: block;
  }
  #mainImg2 {
    display: none;
  }
}
